
/* Heading and body styling for all website pages */
body{
    background-color: darksalmon;
    font-family: 'Didact Gothic', sans-serif;
}

h1 {
    display: inline;
    font-size: 5em;
    position: relative; 
}

#header {
    text-align: center;
    background-color: gray;
    font-family: 'Monoton', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }

/* Sales.html: table styling */
#table{
    position: relative;
    margin: 20px;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    text-align: center;
    background-color: #ccc;
}
td, th, tr {
    border: 1px solid white;
    padding: 9px;
}

tr:hover {
    background-color:#ddffdd;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.1em;
}

#tableHeader {
    font-weight: bold;
}

#tableFooter {
    /* background-color: darkcyan; */
    font-size: 1em;
}

#form{
    background-color: gray;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Accorian header styling */
.accordion {/* Style the buttons that are used to open and close the accordion panel */
    background-color: #ccc;
    opacity: .90;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;

    font-family: 'Didact Gothic', sans-serif;
    font-size: 2em;
    margin-top: 20px;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    transition: all height 1s;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.active, .accordion:hover {/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    background-color: #eee;
    opacity: .90;
    height: 2.75em;
    /* height: 2em;
    width: 2em; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* box-shadow:0 0 20px rgba(0,0,0,0.8); */
}


/* Accorian panel styling*/
.panel {/* Style the accordion panel. Note: hidden by default */
    padding: 0 18px;
    background-color: #eee;
    display: none;
    overflow: hidden;
    opacity: .90;
    text-align: center;
    position: relative;
    transition: all height 1s;
    /* box-shadow:0 0 20px 0 rgba(0,0,0,0.8); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.panel::after{
    content: "";
    background-image: url("../salmon.png");
    background-repeat: no-repeat;
    position: absolute;
    opacity: .1;
    background-position: center 0%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#hours {
    font-family: 'Didact Gothic', sans-serif;
    font-size: .5em;  
}

/* Accoridan Content */
div.products {
  display: inline-block;
  border-radius: 2px;
  margin: 10px;
  padding: 20px 50px;
  background-color: rgb(163, 190, 216);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products img {
    max-height: 100px;
    padding: 5px;
}

#aboutCookies{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

#family{
    max-height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#familyStory{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    /* display: inline-block; */
}
span.Locations {
    display: inline-block;
    border-radius: 2px;
    margin: 10px;
    width: 375px;
    padding: 20px 50px;
    background-color: #ddffdd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
